h1 {
  color: #bd7482;
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  justify-content: center;
  align-items: center;
}
main {
  margin: 0 50px 0 50px;
}
.top-container {
  align-items: center;
}
.photo {
  max-width: 300px;
  max-height: 300px;
  width: 100%;
  border-radius: 5px;
  margin: 15px;
}

.first-row,
.second-row,
.third-row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 50px;
}
.photo:hover {
  transform: scale(1.5, 1.5);
  border-radius: 5px;
  color: #ffffff;
}
