body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #f7f6f6;
  font-family: "Roboto", sans-serif;

  /* min-height: 100vh; */
}
main {
  margin-right: 50px;
  margin-left: 50px;
}

li,
a,
button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: white;
  text-align: none;
}

header {
  display: flex;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 10%;
  background-color: #bd7482;
  width: 100%;
  opacity: 2;
}

.logo {
  cursor: pointer;
  margin-right: auto;
  width: 100px;
  height: 60px;
}

.nav__links {
  list-style: none;
}
.nav__links li {
  display: inline-block;
  padding: 0 30px;
}

.nav__links li a {
  text-decoration: none;
}
.nav__links li:hover {
  background-color: #c60e33;
  /* padding-left: 20px;
  padding-right: 20px; */
  transform: scale(1);

  transition: 0.7s ease-in-out;
}

.background__headfon {
  width: 100%;
  height: auto;
  max-height: 600px;
  opacity: 0.9;
  /* background-size: cover;
  background-position: center; */
}
/* .title {
  font-family: Helvetica, sans-serif;
  font-weight: bolder;
  justify-content: center;
  margin: 50px;
} */

/* carousel */

.carousel-inner > img {
  width: 100%;
  height: auto;
}
.carousel__div {
  width: 600px;
  height: 600px;
}

.img__carousel {
  width: 600px;
  height: 600px;
}

/* USE THIS FOR ALL BUTTONS */
button {
  padding: 10px 25px;
  background-color: #9e4557;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  color: #f7f6f6;
  margin-left: 10px;
}

button:hover {
  background-color: #b91a3a;
  transition: 0.8s ease-in-out;
}

.section1__info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 30px;
  padding: 20px;
}

.section1__info > div > h2 {
  font-weight: bolder;
  font-size: 40px;
  /* color: #bd7482; */
  color: #000;
}

.section2__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px;
  padding: 20px;
}
.section2__info > div > h2 {
  font-weight: bolder;
  font-size: 40px;
  /* color: #bd7482; */
  margin-bottom: 30px;
  align-self: flex-start;
}

.section2__info > div > img {
  width: 600px;
  height: 500px;
}

.headfons__info {
  margin-right: 100px;
}
.headfons__info > p {
  color: #b91a3a;
  margin-top: 30px;
}

/* FOOTER */
footer {
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer__container {
  padding: 50px 30px 20px;
  background-color: #bd7482;
}
.social__icons {
  display: flex;
  justify-content: center;
}
.social__icons a {
  text-decoration: none;
  padding: 10px;
  margin: 10px;
  border-radius: 50%;
}
.social__icons a i {
  font-size: 2em;
  color: black;
  opacity: 0.9;
}
.social__icons a:hover {
  background-color: #594c4c;
  transition: 0.5s ease-in-out;
  transform: scale(1.1);
}
.social__icons a i {
  color: white;
}

.footer__bottom {
  background-color: #9e4557;
  padding: 20px;
  text-align: center;
}

.footer__bottom p {
  color: white;
}
